* {
  font-family: JetBrainsMonoNerdFontMono;
  font-size: 24px;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

window {
  background-color: rgba(40, 40, 40, 0.75);
  border-radius: 0px;
}

button {
  color: #ffffff;
  border-width: 0px;
  box-shadow: none;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  margin: 55px 155px;
  padding: 12px;
}

button:active,
button:hover,
button:focus {
  background-color: #458388;
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"),
                         url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"),
                          url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"),
                          url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(url("/usr/share/wlogout/icons/hibernate.png"),
                          url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"),
                          url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"),
                         url("/usr/local/share/wlogout/icons/reboot.png"));
}